.weather-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  background-color: #0c4370;
  color: aliceblue;
  
    display: none;
    z-index: 15;
    overflow-y: hidden;
    
  }
  #wrapper{
    padding: 25px;
  }
  
  .current-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
  }
.current-pan{
   display: flex;
  justify-content: center;
  margin-top: 30px; 
}
   
.current-video{
  /* width: 40%; */
  height: 520px;
  margin-left: 24px; /*39px;*/
}
  
.current-pan-condition{
  
  /* height: 563px; */
  height: 536px;
  display: flex;
  /* justify-content: center; */
}
#current-condition-container{
  /* display: flex; */
  width: 100%;
  height: 300px;
 
}
#current-condition-containerFullWidth{
  margin-top: 25px;
}
#current-condition-div{
  display: flex;
  /* justify-content: space-between; */
 
  /* width: 100%; */
  height: 256px;
  /* gap: 10px; */
  
}
.current-box{
  width: 50%;
 
  color: #acb6be;
  background-color: #38516d;
 
  font-size: 2.5em;
}
.current-box-novideo{
  width: 32%;
 
  color: #acb6be;
  background-color: #38516d;
 
  font-size: 2.5em;
}
.current-box-temperature{
  width: 50%;
  color: #acb6be;
  background-color: #38516d;
  margin-right: 10px;
  font-size: 2em; /*2.5*/
}
.current-box-temperature-novideo{
  width: 33%;
  color: #acb6be;
  background-color: #38516d;
  margin-right: 10px;
  font-size: 2em; /*2.5*/
}

.sunrise-container{
  /* width: 50%; */
  /* border: 2px solid; */
  color: #acb6be;
  background-color: #38516d;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 260px; /*248px;*/
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  /* font-size: 2.5em; */
  padding: 4px;
}
.sunrise-box{
  width: 178px; /*182*/
  font-size: 28px; /*1.2em*/
  font-weight: bolder;
  text-align: center;
}

.sunrise-box-right-col{
  width: 212px; /*182*/
  font-size: 28px; /*1.2em*/
  font-weight: bolder;
  text-align: center;
}

.current-dynamic-text{
  color: #acb6be;
}

.ftemp{
  color: #acb6be;
  font-size: 4em;
  /* font-weight: bold; */
  /* height: 250px; */
  text-align: center;
  margin-top: 30px;
}
.current-icon{
  width: 183px; 
  height: 183px; 
  /* width: 30%;
  height: auto; */
  object-fit: contain;
  /* margin-top: 35px; */
 
}
.current-icon-top{
  /* width: 32%; */
  width: 36%;
}
.day-icon{
  text-align: initial;
  margin-left: 10px;
}

.current-text{
  text-align: center;
  font-size: 40px;

  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.icondiv{
display: flex;
justify-content: center;
height: auto;
}
.ptext{
  /* font-size: 1.5em; */
  font-size: 35px;
  color: #c4cfda;
  line-height: 0;
}
#moon{
  /* width: 15em; */
}
.hour24heading{
  height: 85px;
  margin-top: 55px;
  font-size: 3em;
}
.hourly-container{
  display: flex;
  justify-content: flex-start;
  /* gap: 5px; */
  /* height: 530px; */
  overflow-x: hidden;
  overflow-y: hidden;
}

.hourly-box{
  width: 237px;/*175*/
  height: 50px;
  /* margin-bottom: 20px; */

  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  /* background-color: #37516b; */
  /* padding: 10px; */
  text-align: center;
  font-size: 2em;
  /* height: -webkit-fill-available; */
}
.hourly-temperature{
color: red;
float: left;
width: 147px;
}
.hourly-precipitation{
float: right;
width: 148;
}
.hourly-item-XXXX{
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  background-color: #37516b;
  padding: 10px;
}
.hourly-item:last-child {
  margin-right: 0; /* Remove margin for the last item */
}
.hour-desc{
      /* border: 1px solid; */
      /* margin-top: -65px; */
      height: 76px;
      text-align: center;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      font-size: 2em;
      margin-left: 5px;
      background-color: #37516b;
      overflow: hidden;
}
.hour-precip{
  font-size: 2em;
  padding: 5px;
}

#weekly{
  /* display: flex;
  width: fit-content;
  overflow-x: hidden; */
  /* margin-right: 10px; */
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: hidden;
}
#day-container:last-child {
  margin-right: 0; /* Remove margin for the last item */
}
#day-container{
  width: 255px; /*270px; /*276*/
  height: 330px;
  display: flex;
  text-align: center;
  flex-direction: column;
  /* justify-content: center;
  justify-items: center; */
  text-align: center;
  background-color: #37516b;
  margin-right: 10px;
}
.dayContainer{
  width: 255px; /*270px; /*276*/
  height: 330px;
  display: flex;
  text-align: center;
  flex-direction: column;
  /* justify-content: center;
  justify-items: center; */
  text-align: center;
  background-color: #37516b;
  margin-right: 10px;
}
.dayfont{
  
  font-size: 40px;
  /* width: 240px; */
}
.hrline{
  width: 80%;
  height: 2px;
  background: #fff;
  content: "";
  /* align-items: center; */
  /* display: inline-block; */
  margin-left: 25px;
  margin-top: 5px;
}
.heightemp{
  font-size: 35px;
  color: #F84B20;
  text-align: right;
  padding: 17px;
}
.lowtemp{
   font-size: 35px;
   text-align: right;
   margin-right: 15px;
 }


.weatherVideo{
  width: 928px;
  /* width: 978px; */
  height: 522px; /*535px;*/
  /* width: 100%; */
;
}

/* NEW CSS FOR NEW DESIGN BOF */
.hourly-item {
  width: 240px; /*207px;*/
  /* height: 330px; */
  height: 340px;
  background-color: #37516b;
  font-size: 30px;
  color: #fff;
  text-align: center;
  /* height: 420px; */
  padding: 7px;
  /* margin: 5px; */
  margin-right: 10px;
}
.current-icon-top-new {
  width: 36%; /*60%;*/
  height: auto;
}
.current_text {
  height: 70px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: center;
  overflow: hidden;
}
.pan {
  width: 243px;
  font-size: 35px;
  /* background-color: aqua; */
}
.pan_child {
  float: left;
  margin-right: 45px; /*32px;*/
  margin-left: 7px;
  color: #F84B20;
  font-size: 35px;
}
.f{
  font-size: 27px;
}
.wind {
  /* height: 74px; */
  font-size: 35px;
  margin-top: 15px;
}
.time {
  height: 65px;
  /* font-size: 35px; */
}
.timeampm{
  font-size: 27px;
}
.timeNum{
  font-size:40px;
}

/* NEW CSS EOF */

.weather-video-focused {
   border: 5px solid #fff;
   z-index: 5;
}
.miniFocuse {
  border: 5px solid #fff;
  z-index: 5;
}
.full-screen{
 top: 0px;
 left: 0px;
 width: 100%;
 position: fixed;
 
}
.weather-video-status{
  display: none;
  position: absolute;
  /* top:50%;
  left:50%; */
  top:32%;
  left:70%;
  color: #fff;
  font-size: 4em;
  font-weight: bold;
  padding: 15px;
  border: 4px solid;
  background-color: #000000;

}

.h-wind{
  font-size: 23px;
  margin-top: 15px;
}
.WeathervideoError{
  color: #fbfbfb;
  display: block;
  margin-top: -351px;
  margin-left: 166px;
  /* background-color: black; */
  font-size: 5em;
  font-weight: bolder;
}
.rightbox{
  color: #acb6be;
  background-color: #38516d;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  padding-top: 33px;
  justify-content: center;
}